#hamburger.active .bar:nth-of-type(1) {
  transform: rotate(45deg) translateY(10px);
}
#hamburger.active .bar:nth-of-type(2) {
  display: none;
}
#hamburger.active .bar:nth-of-type(3) {
  transform: rotate(-45deg) translateX(-4px) translateY(-5px);
}

.button-gold {
  background: linear-gradient(to right, #bf953f, #fcf6ba, #b38728, #fbf5b7, #aa771c);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.button-silver {
  background: linear-gradient(90deg, #7e7e7e 0%, #e3e3e3 25%, #787878 50%, #e3e3e3 75%, #7e7e7e 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

@media only print {
  .user-manual { display:none !important; }
  }
  